:root{
  --white: #ffffff;
  --black: #000000;

  --Orange-500: #ff693d;
  --Orange-500-Opacity: #ff693d80;

  --Red-500: #ff6257;
  --Red-600: #ff5377;

  --Grey-400: #9294a0;
  --Grey-600: #36384e;
  --Grey-700: #242742
}